RewriteEngine On
RewriteBase /ApiPHP-Prueba2/

# Enviar todo lo demás a index.php si no es archivo/directorio
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]